# Import of packages

In [112]:
from scipy.io import arff
import pandas as pd

# Cleaning the corrupted file

When trying to read the data in a "arff" format, there are some issues raised by the reader. <br>
Some manual changes were made directly in the file using a text editor which are the following :
- Ctrl + H on " yes" and "	yes" to replace with "yes", to remove trailing space/tabs before
- Ctrl + H on "	no" to replace with "no", trailing space and tabs before

In [113]:
arff_file_path = R"C:\Users\devil\Documents\Data_Science\CDK_project\01.RAW_DATA\Chronic_Kidney_Disease\chronic_kidney_disease.arff"

In [115]:
data = []
with open(R'C:\Users\devil\Documents\Data_Science\CDK_project\01.RAW_DATA\Chronic_Kidney_Disease\chronic_kidney_disease_full.arff', "r") as f:
    for line in f:
        line = line.replace('\n', '')
        data.append(line.split(','))

Name of columns and their definition are written in the arff file in the description part. We add them to create a dataframe

In [116]:
col_names = ['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba',
         'bgr', 'bu',  'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc',
         'rc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane',
         'class','empty']

print(len(col_names))
df = pd.DataFrame(data[145:], columns=col_names)
df.head()

26

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,wc,rc,htn,dm,cad,appet,pe,ane,class,empty
0,48,80,1.020,1,0,?,normal,notpresent,notpresent,121,...,7800,5.2,yes,yes,no,good,no,no,ckd,None
1,7,50,1.020,4,0,?,normal,notpresent,notpresent,?,...,6000,?,no,no,no,good,no,no,ckd,None
2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,...,7500,?,no,yes,no,poor,no,yes,ckd,None
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,6700,3.9,yes,no,no,poor,yes,yes,ckd,None
4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,106,...,7300,4.6,no,no,no,good,no,no,ckd,None

In [ ]:
# Add our own index column
df = df.reset_index().rename(columns={'index': 'Index_AD'})
df

### Saving final file
There is an issue with line 369, will all cells being move on the left of on rank. We can modify it directly in the excel file, and save it + delete last 2 lines which are empty

In [ ]:
df.to_excel(R"C:\Users\devil\Documents\Data_Science\CDK_project\01.RAW_DATA\Chronic_Kidney_Disease\chronic_kidney_disease_full.xlsx", index=False)